@font-face {
  font-family: norse-bold;
  src: url(fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", san-serif;
  font-size: 1rem;
}

main {
  display: flex;
}

.image-logo-section {
  width: 50%;
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content-section {
  padding: 100px 25px 25px;
}

.content-section p {
  margin-top: 20px;
}

.sign-up-form {

}

